<div class="ui main text container">
  <h1 class="ui header">NEWS APP</h1>
  <p>Quand vous informez devient notre passion </p>
</div>

<div class="ui borderless main menu">
  <div class="ui text container">
    <div class="header item">
      <i class="newspaper outline icon"></i>
         NEW APP
    </div>
  </div>
</div>

<div class="ui container" style="margin: 50px;">
  <form class="ui form">
    <h4 class="ui dividing header">Zone de filtre</h4>
    <div class="ui form">
      <div class="field">
        <label>Pays</label>
        <select class="ui search dropdown">
          <option value="">Sélectionner un pays</option>
          <option value="ZW">Zimbabwe</option>
        </select>
      </div>
    </div>

  </form>

</div>

<div class="ui horizontally divided grid container-fluid" style="margin: 150px;">
  <div class="one column">
      <div class="ui link cards">
        <div class="black card" *ngFor="let article of articles?.articles" style="margin: 10px;">
          <div class="image">
            <img src="{{article.urlToImage}}" style="height: 220px;">
          </div>
          <div class="content">
            <div class="header">{{article.title}}</div>
            <div class="meta">
              <a class="ui tag label">{{article.author}}</a>
            </div>
            <div class="description">
              {{article.description}}
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              {{article.publishedAt | dateAgo}}
            </span>

            <span>
              <a class="ui blue ribbon label" href="{{article.url}}" target="_blank">En savoir +</a>
            </span>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui inverted section divider"></div>
    <i class="newspaper outline icon ui centered mini image"></i>
    <div class="ui horizontal center aligned inverted small divided link list">
      <a class="item" href="#">News APP</a>
      <a class="item" href="#">Contactez-Nous</a>
    </div>
  </div>
</div>
